@import url("http://yui.yahooapis.com/pure/0.6.0/pure-min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "colors.scss";

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: $primary-text;
  font-family: 'Courier New', monospace;
}


html, body {
  width:100%;
}

// resets

h1, h2, h6 {
  margin:0;
  padding:0;
  text-align:center;
}

label,
input[type="text"] {
  color:#333;
  background-color:#F1F1F1;
  text-align:center;
}


.logo {
  background-image:url('../static/gave_logo.png');
  background-size:80px 50px;
  background-position:center;
  background-repeat:no-repeat;
  text-indent:9999px;
}


// Pure Resets
.pureButtonPrimary {
  background:#fff;
  color:#50a2d4;
}

.pureButton {
  background:#fff;
  color:#50a2d4;
}

.header {
  padding: 0;
  clear:both;
  overflow:hidden;
}

.topNav {
  background-color: #fff;
  position:relative;
  top:0;
  left:0;
  width:100%;
  border-bottom:1px solid #ccc;
}

.header h1 {
  padding-left:1rem;
  padding-bottom:1rem;
  text-align: center;
}
