@import url("http://yui.yahooapis.com/pure/0.6.0/pure-min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "colors.scss";

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: $primary-text;
  font-family: 'Open Sans', sans-serif;
}


html, body {
  width:100%;
  background:#eceff6;
}

// resets

h1 {
  margin:0;
  padding:0;
}


input[type="text"] {
  color:#333
}


// Pure Resets
.pureButtonPrimary {
  background:#50a2d4;
}

.pureButton {
  background:#50a2d4;
}

.header {
  background:#464652;
  color:#fff;
  padding: 2rem 0 0 0;
}

.topNav {
  background-color: #fff;
  padding:1rem;
}

.header h1 {
  padding-left:1rem;
  padding-bottom:1rem;
}