@import url("http://yui.yahooapis.com/pure/0.6.0/pure-min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "colors.scss";

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  color: $primary-text;
  font-family: 'Open Sans', sans-serif;
}
