.welcomeBlurb {
  padding: 20px 10%;

  > p {
    line-height: 1.5;
  }
}

.welcomePage {
  background-image: url('static/home_bg.png');
  background-size: cover;
  background-position: 70% 0;
  height: calc(100vh - 50px);
}

.welcomePageH1 {
  color: #fff;
  text-align: left;
  font-size: 60px;
  text-shadow: 0px 1px 0px rgba(150, 150, 150, 1);
}

.homeBannerText {
  position: relative;
  margin-left: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.homeBannerTextp1 {
  font-size:36px;
  color:#9E9E9E;
  margin-top:5px;
  margin-bottom: 0;
}

.homeBannerTextp2 {
  font-size:24px;
  margin-top:5px;
  color:#9E9E9E;

  > strong {
    color: #727272;
  }
}
