.homeBannerText {
  background:#fff;
  width:70%;
  margin:0 auto;
}

.homeBannerTextp1 {
  font-size:36px;
  font-weight:700;
  color:#999;
  margin-top:0;
}

.homeBannerTextp2 {
  font-size:24px;
  font-weight:700;
  margin-top:0;
  color:#999;
}