.searchStatusIcon {
  text-align: center;
  padding:5px;
  position:absolute;
  top:5px;
  right:0;
}

.searchStatus {
  margin-top: 6px;
  font-size: 2em;
}

.searchStatusInvalid {
  color: #FF9800;
}

.wishlistSearchContainer {
  padding:2rem;

  > h2 {
    font-size: 2em;
  }
}

.numberSearch {
  padding: 15px !important;
  font-size: 20px;
  font-family: "Courier New",monospace;
}

.searchStatusValid {
  color: #4CAF50;
}

.instructions {
  display: block;
  color: #fff;
  font-family: "Courier New",monospace;
  text-align: center;
  margin-top: 5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
}

.accountInfo {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index:10;
  padding: 7px;
  border-radius: 15px;
  font-size:12px;
  color:rgba(242, 242, 242, 0.67);

}

.profileImage {
  display: inline-block;
  height: 20px;
  padding:5px;
  border-radius:10px;
  margin-right:5px;
}

.logoutLink {
  font-size:12px;
  padding: 0 5px;
  text-decoration:none;
  color:#fff;
  margin-left:5px;
  display:inline-block;

  &:hover {
    color: darken(#fff, 20%);
  }
}
